/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

p.red
{
    color: red
}

p.greeting
{
    font-size: 60px;
}

p.header
{
    font-size: 40px;
}

body {
    /* Set the minimum height of the content area to 100% of the viewport height */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#content {
    /* Make the content area grow and take up all available space */
    flex: 1;
}

.footer {
    /* Add any necessary styles for your footer */
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: auto;
}